<div class="container-fluid">

  <br>
  <h1>Login</h1>
  <br>

  <form action="/auth/login" method="POST">

    <label for="email"> <h5>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></label>
    <input id="email" type="text" name="email"/>

    <br>
    <br>
 
    <label for="password"><h5> Password:&nbsp;</h5></label>
    <input id="password" type="password" name="password"/>
    <br>
    <br>
    <br>
    
    <button type="submit" class="btn btn-primary btn-md">Login</button>

<br>
<br>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

