<div class="container-fluid">
  
  <br>
  <h1>Signup</h1>
  <br>
 
  <form class="center" action="/auth/signup" method="POST">

    <label for="fullName"> <h5>Full Name:&nbsp;</h5> </label>
      <input id="fullName" type="text" name="fullName"/>
    
    <br>
          
    <label for="email"> <h5>Email:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5> </label>
      <input id="email" type="text" name="email"/>
   
      <br>

    <label for="password"><h5>Password:&nbsp;&nbsp;</h5></label>
      <input id="password" type="password" name="password"/>
      
    <br>
    <br>

 <button type="submit" class="btn btn-primary btn-sl">Sign Up</button>
 
 <br><br><br>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>