<div class="container-fluid">

{{#each messages}}
<br>
<h5>{{author.fullName}}</h5>
       
    <div type="text" class="form-control" id="send-message" name="content"><p>{{content}}</p></div>
{{/each}}   



    <br>

  <form action="/messages/conversation/{{_id}}" method="POST">
        <div class="mb-3">
                <label for="send-message" class="form-label">Send Message</label>
                <input type="text" class="form-control" id="send-message" name="content">
        </div>

     <button type="submit" class="btn btn-success btn-sl">Send</button>

  </form>

