{{#each messages}}
<br>
<h3>{{author.fullName}}</h3>
<p>{{content}}</p>

{{/each}}



  <form action="/messages/conversation/{{_id}}" method="POST">
        <div class="mb-3">
                <label for="send-message" class="form-label">Send Message</label>
                <input type="text" class="form-control" id="send-message" name="content">
        </div>

     <button type="submit" class="btn btn-success btn-sl">Send</button>

  </form>

{{!-- YOU'LL NEED AN INPUT HERE FOR MESSAGES
and a BUTTON THAT WILL MAKE A REQUEST TO findByIDAndUpdate the CONVERSATION,
adding a new message to the conversation and then redirect back to this conversation
 --}}