<div class="container-fluid">
<br>

<h2>Edit Post</h2>


<form action="/items/edit/{{_id}}" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{name}}">
</div>

  <div class="mb-3">
        <label for="imageUrl" class="form-label">Image</label>
        <input type="text" class="form-control" id="imageUrl" name="imageUrl" value="{{imageUrl}}">
</div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input   type="text" name="description" class="form-control" value="{{description}}" id="description"></input>
</div>

    <br>
    <button type="submit" class="btn btn-success btn-sl">Edit Post</button>

</form>